body 
{
	margin:0px;
	padding:0px;
}
*
{
	font-size:12px;
}
#box
{
	width:1003px;
	margin:0 auto;
}
#top
{
	width:100%;
	height:129px;
	margin-bottom:2px;
}
#left
{
	text-align:center;
	float: left;
	width: 196px;
	background-image:url(../images/from_28.gif);
	background-repeat:repeat-y;
}
#right
{
	float:left;
	width:800px;
	padding:2px;
	margin-left:1px;
}
#title
{
	background-image:url(../images/from_23.gif);
	background-repeat:repeat-x;
	height:28px;
	line-height:28px;
}

.divFloat
{
	float:right;
}
.aStyle
{
	color:Blue;
}	
.NoShow
{
    display:none;
}
	
	