body   
{
    font-family:Arial,宋体;
    font-size:12px;
    margin: 0px;
    padding: 0px;
    
}
.page,html,body{ width:100%; height:100%;}

/* 网页架构 -- Star   
----------------------------------------------------------*/

.webheader
{
    width:100%;
    height:82px;
    background-image:url(../images/top_bg.jpg);
    background-repeat:repeat-x;
}


.txt
{
    width:100%;
    height:30px;
    line-height:30px;
    background-image:url(../images/web_05.gif);
    background-repeat:repeat-x;
}
.txtleft
{
    width:241px;
    background-image:url(../images/web_04.gif);
    background-repeat:no-repeat;
    padding-left:10px;
}
.txtright
{
    padding-right:20px;
    color:White;
}
.webleft
{
    width:200px;
}
.webmain
{
    padding:3px;
}
.vhr
{
    width:8px;
    background-color:#1171c8;
}
.footer
{
    height:31px;
    line-height:31px;
    background-image:url(../images/web_26.gif);
    color:White;
    padding-left:10px;
}

a{cursor:pointer;}
 a:link,a:visited
{
    color: #034af3;
    text-decoration: none;
}
/* 网页架构 -- End 
----------------------------------------------------------*/

